@import "typo";

body {
    margin: 60px auto;
    width: 70%;
    background-color: none;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    overflow: hidden;
}

footer, footer ul li {
    border-top: 1px solid #d5d5d5;
    font-size: .9em;
    font-family:'Arial', 'Sans-Serif';
    display: inline;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}



ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: blue;
    position: fixed;
    top: 0;
    width: 70%;
}

nav li a, nav li b{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
}

nav li b{
    float: right;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
nav li a:hover {
    background-color: #111;
}

