@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

$body: "Open Sans", serif;
$title: "Montserrat", sans-serif;
$code: "Courier New", monospace;

h1, h2, h3, h4, nav {
   font-family: $title;

}

body, footer {
    font-family: $body;
}

