<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/a2a61ecc8a.js"></script>
<link rel="stylesheet" href="css/academicons-1.7.0/css/academicons.min.css" />
    <head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
     <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
	<nav>
	    <ul>
		<li><a href="/">Home</a></li>
		<li><a href="/research">Research</a></li>
		<li><a href="/publication">Publication</a></li>
		<li><a href="/cv">CV</a></li>
		<li><a href="/about">About</a></li>
		<!-- <li><a href="/blog">Blog</a></li> -->
		<li><b href="/about" class="fa
		fa-github fa-lg" aria-hidden="true"></b></li>
		
	    </ul>

	</nav>

	<div class="container">

	    {{ content }}

	</div><!-- /.container -->
		{% include footer.html %}
    </body>
</html>
